fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
langchain-core==0.1.52
langchain-community==0.0.38
langchain-google-genai==1.0.10
langchain-pinecone==0.1.0
langchain-text-splitters==0.0.1
pinecone-client[grpc]==3.0.3
groq==0.4.1
pydantic==2.5.2
python-dotenv==1.0.0
pypdf==3.17.4
aiofiles==0.24.0
